.about-us-paragraph {
    width: min(96%, 850px);
    margin-bottom: 100px;
    padding-left: 40px;
    line-height: 1.6;
}

@media screen and (min-width: 1150px) {

    .about-us-paragraph {
        width: 1000px;
    }    
}

@media screen and (min-width: 1366px) {

    .about-us-paragraph {
        margin-left: auto;
        margin-right: auto;
    }    
}