{% extends 'base.html' %}

{% load static %}

{% block titulo %}Cerveceria | Contacto{% endblock %}

{% block independent_styles %}
    <link rel="stylesheet" href="{% static 'css/form-styles.css' %}">
{% endblock %}

{% block headboard %}Contáctenos{% endblock %}


<!-- TODO: Arreglar la validación y agragar un campo para el asunto -->
{% block contents %}
    <h2 class="sub-title">Envíe su consulta</h2>
    <form class="forms contact-form" method="post" action="">{% csrf_token %}
        {% for campo in formulario %}
            {{campo.label_tag}}
            <div class="inputs-container">{{campo}}</div>
        {% endfor %}
        <button class="btn btn-submit" type="submit">Enviar</button>
    </form>
{% endblock %}
