{% extends 'base.html' %}

{% load static %}

{% block titulo %}Cerveceria | Sobre Nosotros{% endblock %}

{% block independent_styles %}
<link rel="stylesheet" href="{% static 'css/about-us.css' %}">
{% endblock %}

{% block headboard %}Sobre Nosotros{% endblock %}

{% block contents %}
    <p class="about-us-paragraph">Comenzamos como un Brewpub en 2015 en el barrio barcelonés del Eixample, en 2017 abrimos nuestra fábrica principal, donde producimos la mayoría de nuestras birras, mientras que el brewpub funciona como una fábrica de Brett. Finalmente, en 2021, abrimos un nuevo local en Poblenou localización perfecta para disfrutar de nuestras cervezas y pizzetas. Puedes encontrarnos todos los días tanto en Consell de cent 261 como en Passeig Calvell 45, Barcelona, te recibiremos con los brazos abiertos y las birras frescas!</p>
{% endblock %}